# Unity project files
/Library/
/Logs/
/ProjectSettings/
/Temp/
/obj/
/.vs/
.vsconfig
*.pidb
*.suo
*.booproj
*.log
*.tmp
*.swp
*.sln
*.userprefs
*.DS_Store
*.csproj
*.unitypackage
*.dll
*.exe
*.pdb
*.mid
*.pyc
*.bak
*.orig
*.rej
*.locl
